!!!
%html
  %head
    %title
      Images gallery
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css'}
    %link{rel: 'icon', type: 'image/png', href: 'favicon.png'}
  %body
    %ul.gallery-nav
      %li
        %a{href: "/"}
          Inicio
      - galleries.each do |gallery|
        %li
          %a{href: gallery}
            = gallery.capitalize
    = yield